
body,html,#all,.main,.wrap{
  width: 100%;
  height: 100%;
  }
*{
  margin:0;
  padding:0;
}

.abs(@l:0,@t:0){
  position: absolute;
  left: @l;
  top:@t;
}
.abs_box(@t:0){
  .abs(0,@t);
  right: 0;
  margin: auto;
}

#result{
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  background: rgb(88, 137, 218);
  z-index: 10;
  display: none;

  .wrapper{
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background: url(../img/resultbg.png) no-repeat;
  }
}

#time{
  font-size: 60px;
  color:rgb(254, 215, 0);
  position: absolute;
  left: 0;
  right: 0;
  top:80px;
  text-align: center;;
}

.doc{
  position: absolute;
  top:150px;
  margin:auto;
  left: 0;right: 0; 
  font-size: 30px;
  color:#fff;
  text-align: center;
}

.figure{
  position: absolute;
  width: 202px;
  height: 240px;
  transform:scale(0.9)
}

.player{
  position: absolute;
  width: 202px;
  height: 240px;
  background: url(../img/results.png) no-repeat;
}
.time{
  color:rgb(57, 93, 156);
  font-size: 24px;
  position: absolute;
  top:-50px;
  text-align: center;
 
}


#NO_1{
  left: 223px;
  top:303px;
  // .dance(0,0,-202px,0,main_win);
  .npc{
    .dance(-202px,-600px,-202px,-600px,npc_win);
  }
  .main{
    .dance(0,0,-202px,0,second_win);
  }
  .second{
    .dance(-500px,0,-702px,0,main_win);
  }
  .time{
    left: 90px;
    top:-60px;
  }

}


#NO_2{
  left: 40px;
  top:315px;
 

  .npc{
     .dance(0,-600px,0,-600px,npc_loose);
  }
  .second{
    .dance(0,-346px,-202px,-346px,second_loose);
  }
  .main{
    .dance(-500px,-346px,-702px,-346px,main_loose);
  }
  .time{
    left: 80px;
  }
}

#NO_3{
  left: 411px;
  top:333px;

  .npc{
     .dance(0,-600px,0,-600px,npc_loose);
  }
  .second{
    .dance(0,-346px,-202px,-346px,second_loose);
  }
  .main{
    .dance(-500px,-346px,-702px,-346px,main_loose);
  }
  .time{
    left: 80px;
  }
}


.dance(@ox,@oy,@dx,@dy,@name){
  animation-name: @name;

  animation-timing-function:step-start;
  animation-duration:1s;
  animation-fill-mode:forwards;
  animation-iteration-count: infinite;
  @keyframes @name{
    0%{
      background-position: @ox @oy;
    }
    50%{
      background-position: @dx @dy;
    }
    100%{
      background-position: @ox @oy;
    }
  }
}

.shareCover{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top:0;
  z-index: 100;
  display: none;
  background: rgba(0, 0, 0, 0.7);

  .shareFlag{
    width: 54px;
    height: 376px;
    position: absolute;
    right: 50px;
    top:20px;
    background: url(../img/icons.png) no-repeat;
    background-position: -1000px -200px;
  }

  .share_ewm{
    .abs_box(450px);
    width: 280px;
    height: 328px;
    img{
      width: 100%;
    }
  }
}

.detail{
  position: absolute;
  top:180px;
  color:rgb(86, 150, 255);
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.title{
  position: absolute;
  top:257px;
  color:rgb(254, 215, 0);
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  width: 100%;
}



.doc_box{
  text-align: center;
  position: absolute;
  top:500px;
  font-size: 36px;
  color:#fff;
  top: 378px;
  width: 100%;
  line-height:41px;
}

#specification1{
  display: none;
  font-family: 方正兰亭黑_GBK;
  position: absolute;
  left: 0;top:0;
  width: 100%;height: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, 0.75);

}

.close{
  background: url(../img/icons.png) no-repeat;
  background-position: -1100px -200px;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 46px;
  height: 45px;
}

.agian{
  position: absolute;
  left: 50px;
  top: 650px;
  width: 295-50px;
  height: 750-650px;
}

.basketbal{
  left: 50px;
  top:770px;
  width: 295-50px;
  height: 750-650px;
  position: absolute;
}

.share{
  position: absolute;
  left: 340px;
  top: 650px;
  width: 295-50px;
  height: 750-650px;
}

.shooting{
  left: 340px;
  top:770px;
  width: 295-50px;
  height: 750-650px;
  position: absolute;
}
.p2{
  margin-top: 50px;
}

#specification2{
  display: none;
   font-family: 方正兰亭黑_GBK;
   position: absolute;
  left: 0;top:0;
  width: 100%;height: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, 0.75);
  .detail{
    top:80px;
  }

  .title{
    top:158px;
  }
  .doc_box{
    top: 235px;
  }
}

.ewm_box{
  width: 439-171px;
  height: 906-634px;
  margin-bottom: 10px;

  padding-top: 5px;
  padding-left: 7px;
  background: #fff;
  box-sizing: border-box;
}

.ewm_wrapper{
  position: absolute;
  left: 171px;
  top: 634px;
  width: 439-171px;
  height: 956-634px;
}

.scanme{
  color:#fff;
  font-size: 30px;
  text-align: center;
}

.success_doc{
  font-family: 方正兰亭黑_GBK;
  font-size: 36px;
  color:#fff;
  text-align: center;
  position: absolute;
  top: 515px;
  width: 100%;
}

#match_success{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  display: none;
  background: rgba(0, 0, 0, 0.8);
}

.success_flag{
  background: url(../img/page1.png) no-repeat;
  background-position: -300px -900px;
  width: 137px;
  height: 58px;
  top: 418px;
  position: absolute;
  left: 0;right: 0;
  margin: auto;
}

.run{
  background: url(../img/icons.png) no-repeat;
  background-position: -1200px -200px;
  width: 183px;
  height: 101px;
  top: 418px;
  position: absolute;
  left: 0;right: 0;
  margin: auto;
}

.loading{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(88, 137, 218);

  .loading_player{
    width: 297px;
    height: 170px;
    position: absolute;
    left: 124px;
    top:356px;
    transform:translateZ(0);
    background: url(../img/loading.png) no-repeat;
    animation:loading 1s linear infinite;
    animation-timing-function: step-start;    
    animation-fill-mode: forwards;
    z-index: 9999;
  }

  @keyframes loading{
    0%{
      background-position: 0 0;
    }

    50%{
      background-position: -297px 0;
    }

    100%{
     background-position: -594px 0;
    }
  }

  .progress-num{
    color: #fff;
    font-family: 微软雅黑;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    top: 588px;
    text-align: center;
  }
}